html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header {
  background: #E6F4F4;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  color: #6D6E71;
  margin-top: 0;
  padding-top: 20px;
}

h1, h2 {
  font-family: "Roboto Slab", serif;
}

span {
  color: #00A79D;
}

.user-body {
  padding-bottom: 80px;
}

.save-button {
  background: #00A79D;
  border-style: none;
  color: #FFFFFF;
  display: block;
  margin: 0 auto 15px auto;
  width: 91%;
  height: 35px;
}

.save-button:disabled {
  background: #939598;
}

.save-button:hover {
  background: #045E55;
}

input {
  width: 90%;
}

.input-boxes {
  margin-bottom: 15px;
  font-size: 1.3em;
  border-width: 2px;
  padding-left: 5px;
  border-style: solid;
  border-color: #D1D3D4;
}

input:focus {
  background-color: #FFFFE0;
}

.search {
  text-align: center;
  margin-top: 23px;
}

.idea-text {
  color: #939598;
}

h2 {
  display: inline-block;
  margin: 10px 0;
  color: #6D6E71;
}

.idea-card {
  border-bottom-style: solid;
  border-bottom-color: #D1D3D4;
  border-bottom-width: 2px;
  margin: 0 3%;
  padding: 10px 5px;
}

.idea-card p {
  line-height: 1.5;
}

.button {
  height: 30px;
  width: 30px;
  border: none;
}

.delete-button {
  float: right;
  background: url(assets/delete.svg);
  margin-top: 18px;
  outline: none;
}

.delete-button:hover {
  background: url(assets/delete-hover.svg);
}

.upvote-button {
  background: url(assets/upvote.svg);
  outline: none;
}

.upvote-button:hover {
  background: url(assets/upvote-hover.svg);
}

.downvote-button {
  margin-left: 5px;
  background: url(assets/downvote.svg);
  outline: none;
}

.downvote-button:hover {
  background: url(assets/downvote-hover.svg);
}

.card-quality {
  margin-left: 10px;
  display: inline-block;
  vertical-align: super;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.2em;
  }

  input {
    width: 79%;
  }

  .save-button {
    width: 80%;
  }

  .idea-card {
    padding: 10px 0;
    margin: 0 70px;
  }
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 2.2em;
  }

  .user-body {
    padding-bottom: 40px
  }

  .idea-card {
    margin: 0 10%;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.6em;
  }

  input {
    width: 55%;
  }

  .save-button {
    width: 55.5%;
  }

  .user-body {
    padding-bottom: 0;
  }

  .idea-card {
    margin: 0 22%;
  }

}
